trigger:
  - main

pool:
  vmImage:DESKTOP-KGMCFS2

steps:
  - checkout: self
    submodules: true
  - task: AzureStaticWebApp@0
    inputs:
      app_location: '/'  
      azure_static_web_apps_api_token: $(deployment_token)